<%- model_class = City -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="container list-group">
    <% @cities.each do |city| %>
      <a href=<%="https://www.booking.com/searchresults.en-gb.html?city=#{city.booking_id}"
              %> class="city-item list-group-item">
        <%= city.name %></a>
    <% end %>
</div>
