<%- model_class = City -%>

<div class="container list-group">
    <% @cities.each do |city| %>
      <a href=<%="cities/#{city.id}"
              %> class="city-item list-group-item">
        <%= city.name %></a>
    <% end %>
</div>
