<%- model_class = City -%>

<div class="container list-group">
    <% @cities.each do |city| %>
      <a href=<%="https://www.booking.com/searchresults.en-gb.html?city=#{city.booking_id}"
              %> class="city-item list-group-item">
        <%= city.name %></a>
    <% end %>
</div>
