<%= link_to "Hotels", city_path(params[:id], :cat => "Hotel"), class: "hotel btn btn-success" %>



<div style='width: 800px;'>
  <div id="map"></div>
</div>


<script type="text/javascript">
//reload page to show Gmaps
$(document).ready(function(){
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>

<script src="//maps.google.com/maps/api/js?v=3.23&key=<%= Rails.application.secrets.google_maps_api_key %>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<script type="text/javascript">
 handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    console.log(markers);
  }
);

</script>
